{% extends('base.html.twig') %}

    {% block javascripts %}
    <script src="{{asset('js/modalProduit.js') }}" type="text/javascript"></script>
    {% endblock %}


 {% block body %}
  <div class="side-full">

 <!-- Main -->
  <div id="main">
    <div class="cl">&nbsp;</div>
    <!-- Content -->
    <div id="content">
      <!-- Content Slider -->
      <div id="slider" class="box">
        <div id="slider-holder">
          <ul>
            <li><a href="#"><img src="css/images/golf1.jpg" alt="" /></a></li>
            <li><a href="#"><img src="css/images/golf2.jpg" alt="" /></a></li>
            <li><a href="#"><img src="css/images/golf3.jpg" alt="" /></a></li>
            <li><a href="#"><img src="css/images/golf4.jpg" alt="" /></a></li>
          </ul>
        </div>
        <div id="slider-nav"> <a href="#" class="active">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> </div>
      </div>
      <!-- End Content Slider -->
      <!-- Products -->
        <div class="products">
        <div class="cl">&nbsp;</div>
  {% for message in app.flashes('notice') %} 
    <div class="flash-notice">
      <div id="messageCriteria">{{message}}</div>
    </div>
    {% endfor %}
        <ul>
        
        {% for produit in tabProduits %}
          {% if loop.index%3==0 %}
          <li class="last "  > <a class="boutonModal" href="{{ path('produit_details',{id: produit.id})}}"><img src="css/images/{{produit.id}}.jpg" alt="{{produit.nom}}" class="product-img" onerror="this.onerror=null;this.src='css/images/pasImage.jpg';"></a>
            <div class="product-info">
              <h3>{{produit.categorie.nom}}</h3>
              <div class="product-desc">
                
                <p  >{{produit.nom}}</p>
                <strong class="price">$ {{produit.prix}}</strong> </div>
                <a class="buttonCart" href="{{path('app_panier_add',{id: produit.id})}}"><img src="css/images/cart-link.gif"  alt="ajouter"/>Ajouter au panier</a>
            </div>
          </li>

          {% else %}
 
          <li > <a    class="boutonModal" href="{{ path('produit_details',{id: produit.id})}}"><img src="css/images/{{produit.id}}.jpg" alt="{{produit.nom}}" class="product-img" onerror="this.onerror=null;this.src='css/images/pasImage.jpg';" /></a>
            <div class="product-info">
              <h3>{{produit.categorie.nom}}</h3>
              <div class="product-desc">
                
                <p >{{produit.nom}}</p>
                <strong class="price">$ {{produit.prix}}</strong> </div>
                <a class="buttonCart" href="{{path('app_panier_add',{id: produit.id})}}"><img src="css/images/cart-link.gif"  alt=""/>Ajouter au panier</a>

            </div>
          </li>
          {% endif %}
        {% endfor %}

        </ul>
        
        <div class="cl">&nbsp;</div>
      </div>
      <!-- End Products -->
    </div>
    <!-- End Content -->
    <!-- Sidebar -->
    <div id="sidebar">
      <!-- Search -->
      <div class="box search">
        <h2>Recherche <span></span></h2>
        <div class="box-content">
          <form action="{{ path('rechercheTroupDunCoup') }}" method="POST">
            <label>Mots-clés</label>
            <input type="text" class="field" name="searchField" />
            <input type="submit" class="search-submit" value="Go" />
          </form>
        </div>
      </div>
      <!-- End Search -->
      <!-- Categories -->
      <div class="box categories">
        <h2>Catégories <span></span></h2>
        <div class="box-content">
        
          <ul>
          {% for categorie in tabCat %}
            <li><a href="/?categorie={{categorie.id}}">{{categorie.nom}}</a></li>
          {% endfor %}
     
          </ul>
        
        </div>
      </div>
      <!-- End Categories -->
    </div>
    <!-- End Sidebar -->
    <div class="cl">&nbsp;</div>
  </div>
    <!-- Text Cols -->
    <div class="cols">
      <div class="cl">&nbsp;</div>
      <div class="col">
        <h3 class="ico ico1">Livrasion</h3>
<p>Les délais de livraison varient en fonction de la destination et du type de livraison choisi. Pour les envois standard au Canada, le délai de livraison est généralement de 2 à 5 jours ouvrables. Pour les envois express, la livraison peut souvent être effectuée le jour ouvrable suivant.</p>        
      </div>
      <div class="col">
        <h3 class="ico ico2">Contact</h3>
     <p>Notre bureau principal est situé au 123 Rue Principale, Mirabel, Québec, J7J 0X8. Vous pouvez nous joindre par téléphone au (514) 234-9992. Si vous préférez nous contacter par courrier électronique, notre adresse est info@notresite.com. Nous nous efforçons de répondre à toutes les demandes dans les plus brefs délais.</p>
      </div>
      <div class="col">
        <h3 class="ico ico3">Besoin d'une carte cadeau</h3>
<p>Nous sommes ravis d'annoncer que les cartes-cadeaux sont maintenant disponibles à l'achat. Que ce soit pour un anniversaire, une fête, ou simplement pour dire merci, une carte-cadeau de notre magasin est le cadeau parfait pour toutes les occasions. Vous pouvez les acheter en ligne ou en magasin, et elles peuvent être utilisées pour tous les produits que nous proposons.</p>        
      </div>
      <div class="col col-last">
        <h3 class="ico ico4">Politique de prix</h3>
        <p>Notre politique de prix est simple. Nous offrons les meilleurs prix possibles sur tous nos produits. Si vous trouvez un produit identique à un prix inférieur chez un concurrent, nous nous engageons à égaler ce prix. Nous offrons également des rabais pour les achats en gros. Pour plus d'informations, veuillez nous contacter.</p>
        
      </div>
      
      <div class="cl">&nbsp;</div>
    </div>
    <!-- End Text Cols -->
  </div>
  <!-- End Side Full -->
  <div id="modalProduit" title="Détails du produit"></div>
  
  <script src="/js/modalProduit.js"></script>

   {% endblock %}