{% extends('base.html.twig') %}



 {% block body %}
  <div class="side-full">

 <!-- Main -->
  <div id="main">
    <div class="cl">&nbsp;</div>
    <!-- Content -->
    <div id="content">
      <!-- Content Slider -->
      <div id="slider" class="box">
        <div id="slider-holder">
          <ul>
            <li><a href="#"><img src="css/images/golf1.jpg" alt="" /></a></li>
            <li><a href="#"><img src="css/images/golf2.jpg" alt="" /></a></li>
            <li><a href="#"><img src="css/images/golf3.jpg" alt="" /></a></li>
            <li><a href="#"><img src="css/images/golf4.jpg" alt="" /></a></li>
          </ul>
        </div>
        <div id="slider-nav"> <a href="#" class="active">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> </div>
      </div>
      <!-- End Content Slider -->
      <!-- Products -->
        <div class="products">
        <div class="cl">&nbsp;</div>
        <ul>
        {% for produit in tabProduits %}
          {% if loop.index%3==0 %}
          <li class="last"> <a href="#" ><img src="css/images/{{produit.id}}.jpg" alt="{{produit.nom}}" class="product-img"></a>
            <div class="product-info">
              <h3>{{produit.categorie.nom}}</h3>
              <div class="product-desc">
                
                <p>{{produit.nom}}</p>
                <strong class="price">$ {{produit.prix}}</strong> </div>
            </div>
          </li>

          {% else %}
 
          <li > <a href="#" class="product-img" style="width=280px"><img src="css/images/{{produit.id}}.jpg" alt="{{produit.nom}}" class="product-img"  /></a>
            <div class="product-info">
              <h3>{{produit.categorie.nom}}</h3>
              <div class="product-desc">
                
                <p>{{produit.nom}}</p>
                <strong class="price">$ {{produit.prix}}</strong> </div>
            </div>
          </li>
          {% endif %}
        {% endfor %}

        </ul>
        
        <div class="cl">&nbsp;</div>
      </div>
      <!-- End Products -->
    </div>
    <!-- End Content -->
    <!-- Sidebar -->
    <div id="sidebar">
      <!-- Search -->
      <div class="box search">
        <h2>Recherche <span></span></h2>
        <div class="box-content">
          <form action="#" method="post">
            <label>Mots-clés</label>
            <input type="text" class="field" />
            <input type="submit" class="search-submit" value="Go" />
          </form>
        </div>
      </div>
      <!-- End Search -->
      <!-- Categories -->
      <div class="box categories">
        <h2>Catégories <span></span></h2>
        <div class="box-content">
          <ul>
          {% for categorie in tabCat %}
            <li><a href="#">{{categorie.nom}}</a></li>
          {% endfor %}
     
          </ul>
        </div>
      </div>
      <!-- End Categories -->
    </div>
    <!-- End Sidebar -->
    <div class="cl">&nbsp;</div>
  </div>
    <!-- Text Cols -->
    <div class="cols">
      <div class="cl">&nbsp;</div>
      <div class="col">
        <h3 class="ico ico1">Donec imperdiet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet, metus ac cursus auctor, arcu felis ornare dui.</p>
        <p class="more"><a href="#" class="bul">Lorem ipsum</a></p>
      </div>
      <div class="col">
        <h3 class="ico ico2">Donec imperdiet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet, metus ac cursus auctor, arcu felis ornare dui.</p>
        <p class="more"><a href="#" class="bul">Lorem ipsum</a></p>
      </div>
      <div class="col">
        <h3 class="ico ico3">Donec imperdiet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet, metus ac cursus auctor, arcu felis ornare dui.</p>
        <p class="more"><a href="#" class="bul">Lorem ipsum</a></p>
      </div>
      <div class="col col-last">
        <h3 class="ico ico4">Donec imperdiet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet, metus ac cursus auctor, arcu felis ornare dui.</p>
        <p class="more"><a href="#" class="bul">Lorem ipsum</a></p>
      </div>
      
      <div class="cl">&nbsp;</div>
    </div>
    <!-- End Text Cols -->
  </div>
  <!-- End Side Full -->
   {% endblock %}